body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
        }

        * {
            box-sizing: border-box;
        }

        .header {
            width: 100%;
            height: 10vh;
            background-color: #007bff;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .middle {
            width: 100%;
            height: 80vh;
            overflow: hidden; 
        }

        .sidebar{
            float: left;
            width: 30%;  
            height: 100%;
            background-color: #ffc107;
            
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #000;
        }

        .content {
            float: left; 
            width: 70%;
            height: 100%; 
        }

        .block-5 {
            width: 100%;
            height: 30%;
            background-color: #ffc107;
            
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #000;
        }

        .block-4 {
            width: 100%;
            height: 70%;
            background-color: #ffffff;
            color: black;
            
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .footer {
            clear: both;
            width: 100%;
            height: 10vh; 
            background-color: #007bff;
            color: white;
            
            display: flex;
            align-items: center;
            justify-content: center;
        }